
.flex-ul{
    display: flex;
    justify-content:start
} 

li{
    margin: 10px;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;

}

